<div class="cookbookRecipe" data-recipeid={{_id}} data-recipesize={{size}}>
  <p>{{name}}</p>
  <img src = {{imageURLs.[1]}}>
  <button id="recipe-delete-button" data-id={{recipe._id}} class="btn btn-lg btn-warning recipe-delete-btn">Delete</button>
  
</div>