<!-- Primary author: mmgong -->
<div class="recipe recipe-overlay" data-recipeid={{_id}} data-recipesize={{size}}>
  <p>{{name}}</p><p><em>	Number of Extra Ingredients: {{numUnmatched}}</em></p>
  <img class="recipe-image" src = {{imageURLs.[1]}}>
</div>


