{{> header }}
<div data-recipeid={{recipe._id}}>

<div class="container-fluid">

<div class="row">
  <div class="col-md-5 recipe-box">
    <div class="recipe-view-img" style="background-image: url({{recipe.imageURLs.[0]}})"></div>
    <div class="serving-label">Serving size: {{recipe.servingSize}}</div>
    <div class="recipe-name">{{recipe.name}}</div>
  </div>

  <div class="col-md-6 col-md-offset-1 recipe-box">
    <div class="ingredients">
      <div class="ingredients-header">Ingredients: </div>
      
      {{#each recipe.ingredients}}
        <div class="ingredient">{{ this }}</div>
      {{/each}}
    </div>

    <div class="instructions">
      <div class="instructions-label">Instructions: </div>
      <div class="recipe-url">{{recipe.sourceURL}}</div>
    </div>
    


  </div>
</div>

</div>
</div>