<!-- Primary author: chieni -->
{{#if currentUser}}
{{> header }}
{{else}}
{{> anonHeader}}
{{/if}}
<div data-recipeid={{recipe._id}}>

<div class="container" data-ingredientsList-id="{{ingredients}}" data-servingSize={{servingSize}}>

<div class="search-row recipe-box">


  <div class="col-md-4">

    <div class="back-btn">
      {{#if currentUser}}
      <a class="back-to-search">&lt; Back to Search Results</a> 
      {{else}}   
      <a class="back-to-search-anon">&lt; Back to Search Results</a> 
      {{/if}}

  </div>
    {{#if displayButton}}
    <div class="save-recipe-btn">
      <button id="save-btn" data-id={{recipe._id}} data-servingsize={{recipe.servingSize}} class="btn btn-lg btn-warning save-btn">Save</button>
    </div>
    {{/if}}


    <div class="recipe-view-img" style="background-image: url({{recipe.imageURLs.[0]}})"></div>

    <div class="recipe-name">{{recipe.name}}</div>

    <div class="recipe-ratings-wrapper">

        

        <div class="aggregaterating">
      <div class="rate">Rating</div>
        {{#compare recipe.rating 5 operator="<"}}
          <div class="star"><span>☆</span></div>
        {{/compare}}
        {{#compare recipe.rating 5 operator=">="}}
          <div class="star"><span>★</span></div>
        {{/compare}}
        {{#compare recipe.rating 4 operator="<"}}
          <div class="star" ><span>☆</span></div>
        {{/compare}}
        {{#compare recipe.rating 4 operator=">="}}
          <div class="star"  ><span>★</span></div>
        {{/compare}}
        {{#compare recipe.rating 3 operator="<"}}
          <div class="star"  ><span>☆</span></div>
        {{/compare}}
        {{#compare recipe.rating 3 operator=">="}}
          <div class="star"><span>★</span></div>
        {{/compare}}
        {{#compare recipe.rating 2 operator="<"}}
          <div class="star"><span>☆</span></div>
        {{/compare}}
        {{#compare recipe.rating 2 operator=">="}}
          <div class="star"><span>★</span></div>
        {{/compare}}
        {{#compare recipe.rating 1 operator="<"}}
          <div class="star"><span>☆</span></div>
        {{/compare}}
        {{#compare recipe.rating 1 operator=">="}}
          <div class="star"><span>★</span></div>
        {{/compare}}

      </div>
{{#if currentUser}}
      <div class="rating">
        <div class="rate">Rate this Recipe</div>
        <a class="star" href="#"  id="five-star" data-recipeid={{recipe._id}} data-servingsize={{recipe.servingSize}} data-displaybutton={{displayButton}}><span>☆</span></a>
        <a class="star" href="#"  id="four-star" data-recipeid={{recipe._id}} data-servingsize={{recipe.servingSize}} data-displaybutton={{displayButton}}><span>☆</span></a>
        <a class="star" href="#"  id="three-star" data-recipeid={{recipe._id}} data-servingsize={{recipe.servingSize}} data-displaybutton={{displayButton}}><span>☆</span></a>
        <a class="star" href="#"  id="two-star" data-recipeid={{recipe._id}} data-servingsize={{recipe.servingSize}} data-displaybutton={{displayButton}}><span>☆</span></a>
        <a class="star" href="#"  id="one-star" data-recipeid={{recipe._id}} data-servingsize={{recipe.servingSize}} data-displaybutton={{displayButton}}><span>☆</span></a>
      </div>
   {{/if}}
    </div>



  </div>



  <div class="col-md-6 col-md-offset-1">

    <div class="recipe-info-wrapper">
    
    <form id="scale-form" class="form-inline" data-recipeid={{recipe._id}}>
       <div class="serving-line">Serving size: 
      {{#if currentUser}}
       <input class="form-control" id="serv-size-input" value={{recipe.servingSize}} type="number" name="servingsize" />
       
       <input type="submit" value="Scale Recipe" class="btn btn-warning"/>
       {{else}}
       <span style="display:inline-block"> {{recipe.servingSize}}</span>
        {{/if}}
       </div>
       <div class="sizing-error">
        {{#if sizing-error}}
          {{sizing-error}}
        {{/if}}
      </div>
     </form>
    
    <div class="ingredients">
      <div class="ingredients-header">Ingredients: </div>
      
      {{#each recipe.ingredients}}
        <div class="ingredient">{{ this }}</div>
      {{/each}}
    </div>

    <div class="instructions">
      <div class="instructions-label">Instructions:</div>
      <a class="recipe-url btn btn-lg btn-warning save-btn" href="{{recipe.sourceURL}}" target="_blank">Full instructions here</a>
    </div>
    </div>








</div>






</div>
</div>



