{{#if currentUser}}
{{> header }}
{{else}}
{{> anonHeader}}
{{/if}}
<div data-recipeid={{recipe._id}}>

<div class="container">

<div class="search-row recipe-box">


  <div class="col-md-4">
    <div class="back-btn">
    {{#if fromSearch}}
      <a class="back-to-search">&lt; Back to Search Results</a>
      {{else}}
      <a class="back-to-cookbook">&lt; Back to Cookbook</a>
    {{/if}}
  </div>

    <div class="recipe-view-img" style="background-image: url({{recipe.imageURLs.[0]}})"></div>
    <div class="serving-label">Serving size: {{recipe.servingSize}}</div>
    <div class="recipe-name">{{recipe.name}}</div>
    {{#if displayButton}}
    <div class="save-recipe-btn">
      <button id="save-btn" data-id={{recipe._id}} data-servingsize={{recipe.servingSize}} class="btn btn-lg btn-warning save-btn">Save Recipe to Cookbook</button>
    </div>
    {{/if}}
  </div>



  <div class="col-md-6 col-md-offset-1">
    <div class="ingredients">
      <div class="ingredients-header">Ingredients: </div>
      
      {{#each recipe.ingredients}}
        <div class="ingredient">{{ this }}</div>
      {{/each}}
    </div>

    <div class="instructions">
      <div class="instructions-label">Instructions:</div>
      <a class="recipe-url btn btn-lg btn-warning save-btn" href="{{recipe.sourceURL}}">Full instructions here</a>
    </div>
  </div>





</div>

</div>
</div>