{{#if currentUser}}
{{> header }}
{{else}}
{{> anonHeader}}
{{/if}}
<div data-recipeid={{recipe._id}}>

<div class="container">

<div class="search-row recipe-box">


  <div class="col-md-4">
    <div class="recipe-view-img" style="background-image: url({{recipe.imageURLs.[0]}})"></div>

    <form id="scale-form" class="form-inline" data-recipeid={{recipe._id}}>
       <div class="serving-line">Serving size: <input class="form-control" id="serv-size-input" value={{recipe.servingSize}} type="number" name="servingsize" />
       <input type="submit" value="Scale Recipe" class="btn btn-warning"/></div>
     </form>

    <div class="recipe-name">{{recipe.name}}</div>
  </div>



  <div class="col-md-6 col-md-offset-1">
    <div class="ingredients">
      <div class="ingredients-header"><font size="40">Ingredients: </font></div>
      
      {{#each recipe.ingredients}}
        <div class="ingredient">{{ this }}</div>
      {{/each}}
    </div>

    <div class="instructions">
      <div class="instructions-label"><font size="20">Instructions: </font></div>
      <a class="recipe-url" href="{{recipe.sourceURL}}">Full instructions here</a>
    </div>
    {{#if displayButton}}
      <button id="save-btn" data-id={{recipe._id}} data-servingsize={{recipe.servingSize}} class="btn btn-lg btn-warning save-btn">Save Recipe to Cookbook</button>
    {{/if}}
  </div>





</div>

</div>
</div>