
<div id="search-view">
{{> header }}

<div class="container">
  <div class="search-row">
  
    <div class="col-md-8 left">
      <h1>Find recipes.</h1>

      <form id="search-form" class="form-inline">
       <div class="serving-line">
       <input type="submit" value="SCAVENGE" class="btn btn-warning"/></div>
     </form>

     <div class="error">
      {{#if error}}
      {{error}}
      {{/if}}
    </div>

    <div class="results">
      {{#if loading}}
         <div class="spinner"></div>
      {{/if}}

      {{#if searched}}
      {{#each recipes}}
      {{> recipe size=../size}}
      {{else}}
      <p><em>No recipes found. Please add more ingredients to your pantry!</em></p>
      {{/each}}
      {{#if recipes}}
      <form id="load-more-form" class="form-inline" data-more={{more}}>
        <div><input type="submit" value="LOAD MORE" id="load-more-btn" class="load-more btn btn-warning" disabled/></div>
      </form>
      
      {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1 right">
    <h1>{{currentUser}}'s pantry.</h1>
    <div id="ingredientsList">
      {{#each ingredients}}
      <div class="ingredients-line">
        <span class="delete-button" style="color:orange;">x</span>
        <span class="ingredient" data-ingredient-id={{this.ingredient._id}}>{{ this.ingredient.name }}</span>
        <input type="text" class="edit-amt form-control" name="editedIngAmt" type="text" autocomplete="off"></input>
        <a class="ingredient-amt">( {{this.amount}} )</a>
      </div>
      {{else}}
      <p><em>No ingredients yet!</em></p>
      {{/each}}
    </div>

     <div class="pantry-error">
      {{#if error}}
      {{error}}
      {{/if}}
    </div>

    <form id="pantry-form" class="form-inline">
      <div class = "form-group ui-widget">
        <input class="form-control" id="new-ingredient" name="ingredient" type="text" autocomplete="off" placeholder="Add a new ingredient" required/>
        <input class="form-control" id="new-ingredient-amt" name="ingredientAmt" type="text" autocomplete="off" placeholder="Amount"/>
        <input type="submit" value="ADD" class="btn btn-warning" id="add-ing-btn" disabled/>
      </div>
           <!--<div><ul id="results-list" style="list-style-type:none"></ul></div>-->
      </form>
    </div>
  </div>
</div>