{{#if currentUser}}
{{> header }}
{{else}}
{{> anonHeader }}
{{/if}}

{{#if currentUser}}
<div class="welcome">Welcome, <b>{{currentUser}}</b> (<a href="#" id="logout-link">logout</a>)</div>
{{/if}}

<div class="container">
<div class="row">
    <div class="col-md-5 left">
        <h1>Find recipes.</h1>

        <form id="search-form">
           <div>Serving size: <input type="number" name="servingsize"/></div>
          <div>Additional ingredients: <input type="text" name="additional"/></div>
          <input type="submit" value="Scavenge" class="btn btn-warning"/>
        </form>

          <div class="error">
            {{#if error}}
              {{error}}
            {{/if}}
          </div>

          <div class="results">
            {{#if searched}}
              {{#each recipes}}
                {{> recipe size=../size}}
              {{else}}
                <p><em>No recipes found. We suggest that you allow additional ingredients in your search.</em></p>
              {{/each}}
            {{/if}}
          </div>
    </div>

    <div class="col-md-5 col-md-offset-1 right">
      <h1>Your pantry.</h1>

      <div id="ingredientsList">
        {{#each ingredients}}
        <div class="ingredients-line">
        <span class="delete-button" style="color:orange;">x</span><span class="ingredient" data-ingredient-id={{this._id}}>{{ this.name }}</span>
        </div>
        {{else}}
        <p><em>No ingredients yet!</em></p>
        {{/each}}
      </div>

      <form id="pantry-form">
        <div>Add a new ingredient: <input class="form-control" id="new-ingredient" name="ingredient" required />
        <input type="submit" value="Add" class="btn btn-warning"/></div>
      </form>
  </div>
  </div>
