{{> anonHeader }}

<div class="container" data-ingredientsList-id="{{ingredients}}" data-recipesList-id="{{recipes}}">
<div class="row">
    <div class="col-md-8 left">
        <h1>Find recipes.</h1>

        <form id="anon-search-form" class="form-inline">
         <div class="serving-line">
         <input type="submit" value="SCAVENGE" class="btn btn-warning"/></div>
        </form>

          <div class="error">
            {{#if error}}
              {{error}}
            {{/if}}
          </div>

          <div class="results">
            {{#if searched}}
              {{#each recipes}}
                {{> recipe size=../size}}
              {{else}}
                <p><em>No recipes found.</em></p>
              {{/each}}
            {{/if}}
          </div>
    </div>

    <div class="col-md-3 col-md-offset-1 right">
      <h1>Your pantry.</h1>

      <div id="ingredientsList">
        {{#each ingredients}}

          <div class="ingredients-line">
          <span class="anon-delete-button" style="color:orange;">x</span><span class="ingredient" data-ingredient-id={{this}}>{{ this }}</span>

         </div>
        {{else}}
          <p><em>No ingredients yet!</em></p>
        {{/each}}
      </div>

      <form id="anon-pantry-form" class="form-inline">
        <div><input class="form-control" id="new-ingredient" name="ingredient" autocomplete="off" placeholder="Add a new ingredient" required />
        <input type="submit" value="Add" class="btn btn-warning"/></div>
        <div><ul id="results-list" style="list-style-type:none"></ul></div>
      </form>
  </div>
  </div>
