{{> anonHeader }}

<div class="container" data-ingredientsList-id="{{ingredients}}" data-recipesList-id="{{recipes}}">
<div class="row">
    <div class="col-md-8 left">
        <h1>Find recipes.</h1>

        <form id="anon-search-form" class="form-inline">
         <div class="serving-line">
         <input type="submit" value="SCAVENGE" class="btn btn-warning"/></div>
        </form>

          <div class="error">
            {{#if error}}
              {{error}}
            {{/if}}
          </div>

          <div class="results">
          {{#if loading}}
             <div class="spinner"></div>
          {{/if}}

      
            {{#if searched}}
              {{#each recipes}}
                {{> recipe size=../size}}
              {{else}}
                <p><em>No recipes found.</em></p>
              {{/each}}
            {{/if}}
          </div>
    </div>

    <div class="col-md-3 col-md-offset-1 right">
      <h1>Your pantry.</h1>

      <div id="ingredientsList">
        {{#each ingredients}}

          <div class="ingredients-line">
          <span class="anon-delete-button" style="color:orange;">x</span><span class="ingredient" data-ingredient-id={{this}}>{{ this }}</span>

         </div>
        {{else}}
          <p><em>No ingredients yet!</em></p>
        {{/each}}
      </div>

      <form id="anon-pantry-form" class="form-inline">
        <div><input class="form-control" id="new-ingredient" name="ingredient" autocomplete="off" placeholder="Add a new ingredient" required />
        <input type="submit" value="Add" class="btn btn-warning" id="anon-add-ing-btn" disabled/></div>
        <div><ul id="results-list" style="list-style-type:none"></ul></div>
      </form>

      <button class="btn btn-lg btn-warning anon-create-btn" data-toggle="modal" data-target="#signup-modal">Create Account</button>

      <!-- Modal -->
      <div id="signup-modal" class="modal fade" role="dialog">
        <div class="anon-dialog modal-dialog">

          <!-- Modal content-->
          <div class="anon-dialog-content  modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="anon-modal-title">Get Cooking</div>
            </div>
            <div class="modal-body">
              
                <form id="anon-register-form">
                <div>
                  <label for="inputUsername" class="sr-only"><span>Username</span></label>
                  <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus/>
                </div>
                <div>
                  <label for="inputPassword" class="sr-only"><span>Password</span></label>
                  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required/>
                </div>
                <div>
                  <label for="inputPasswordConfirm" class="sr-only"><span>Confirm Password</span></label>
                  <input type="password" id="inputPasswordConfirm" name="confirm" class="form-control" placeholder="Confirm Password" required/>
                </div>
                <div class="anon-error"></div>
                  <input type="submit" class="btn btn-lg btn-warning btn-block"/>
                </form>
            </div>

          </div>

        </div>
      </div>
  </div>
  </div>
