
<div class="recipe" data-recipeid={{recipe._id}}>
  <p>{{name}}</p>

  <label>Ingredients: </label>
  <ul class="ingredients">
    {{#each ingredients}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>

  <label>Serving size: </label><p> {{servingSize}}</p>

  <label>Instructions: </label>
  <p>{{sourceURL}}</p>
</div>


