<head>
<style>
.recipe-view-img {
    width: 10em;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url({{recipe.imageURLs.[0]}});
    background-position: 50% 50%;
}

</style>
</style>
</head>
<body>
<div data-recipeid={{recipe._id}}>
  <p>{{recipe.name}}</p>
  <div class="recipe-view-img"></div>
  <label>Ingredients: </label>
  <ul class="ingredients">
    {{#each recipe.ingredients}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>

  <label>Serving size: </label><p> {{recipe.servingSize}}</p>

  <label>Instructions: </label>
  <p>{{recipe.sourceURL}}</p>
</div>
</body>