<div class="recipe" data-recipeid={{recipe._id}}>
  <p>{{recipe.name}}</p>
  <img src = {{recipe.imageURLs.[0]}}>
  <label>Ingredients: </label>
  <ul class="ingredients">
    {{#each recipe.ingredients}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>

  <label>Serving size: </label><p> {{recipe.servingSize}}</p>

  <label>Instructions: </label>
  <p>{{recipe.sourceURL}}</p>
</div>