
<div class="recipe" data-recipename={{recipe.name}}>
  <label>{{recipe.name}}</label>

  <label>Ingredients: </label>
  <ul class="ingredients">
    {{#each recipe.ingredients}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>

  <label>Serving size: </label><p> {{recipe.servingsize}}</p>

  <label>Instructions: </label>
  <p>{{recipe.instructions}}</p>
</div>


