<p>Welcome, <b>{{currentUser}}</b> (<a href="#" id="logout-link">logout</a>)</p>

<div class="wrapper">
    <div class="left">
        <h1>Find recipes.</h1>

        <form id="search-form">
          <div>Serving size: <input type="number" name="servingsize"/></div>
          <div>Additional ingredients: <input type="text" name="additional"/></div>
          <input type="submit" value="Scavenge"/>
        </form>

          <div class="error">
            {{#if error}}
              {{error}}
            {{/if}}
          </div>

          {{#if searched}}
            {{#each recipes}}
              {{> recipe }}
            {{else}}
              <p><em>No recipes found. We suggest that you allow additional ingredients in your search.</em></p>
            {{/each}}
          {{/if}}
    </div>

    <div class="right">
      <h1>Your pantry.</h1>

      <div id="ingredientsList">
        {{#each ingredients}}
        <li class="ingredient" style="list-style-type:none">{{ this }}<button class="delete-button" type="button">Delete</button></li>
        {{else}}
        <p><em>No ingredients yet!</em></p>
        {{/each}}
      </div>

      <form id="pantry-form">
        <div>Add a new ingredient: <input type="text" id="new-ingredient" name="ingredient" required />
        <input type="submit" value="Add"/></div>
      </form>
  </div>
